<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>checkerboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,2048}</string>
                <key>spriteSourceSize</key>
                <string>{2048,2048}</string>
                <key>textureRect</key>
                <string>{{0,0},{2048,2048}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>checkerboard.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d816260f7b404bb5bc71814b0228a26:96c018f0058a1477e2723042bd8517c3:ddca61040c67d8bdf5b62c1ae65a2c0a$</string>
            <key>textureFileName</key>
            <string>checkerboard.png</string>
        </dict>
    </dict>
</plist>
